.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

    .overlay {
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
    }

    .story-container {
        background-color: #fff;
        z-index: 12;
        max-width: 1024px;
        width: 94%;
        height: 600px;
        display: flex;
        border-radius: 8px;
        position: relative;

        .close-btn {
            cursor: pointer;
            width: 30px;
            padding: 6px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-16px, 16px);
            transition: all .2s ease;
            z-index: 12;

            &:hover {
                background-color: #e6e6e6;
                transform: translate(-16px, 16px) scale(1.2);
            }
        }

        .story-image {

            img {
                width: 350px;
                height: 600px;
                object-fit: cover;
                border-radius: 8px 0 0 8px;
            }
        }

        .story-content {
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            @media (min-width: 768px) {
                #custom-scrollbar::-webkit-scrollbar {
                    width: 12px;
                    background-color: #F5F5F5;
                }

                #custom-scrollbar::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
                    background-color: #555;
                }
            }

            .story {
                margin-top: 36px;
                padding: 0 10px;
                height: 100%;
                overflow-y: auto;
                line-height: 1.6;

                .story-title {
                    font-size: 30px;
                    margin-bottom: 20px;
                    text-align: center;
                }
            }

            .audio-player {
                width: 70%;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                position: relative;

                .sound-icon {
                    width: 34px;
                    cursor: pointer;
                    transition: all .2s ease;

                    &:hover {
                        transform: translateY(-2px);
                    }
                }

                .slider-container {
                    max-width: 300px;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 3fr 1fr;
                    gap: 10px;
                    align-items: center;
                    text-align: center;

                    .slider {
                        appearance: none;
                        -webkit-appearance: none;
                        width: 100%;
                        height: 6px;
                        background-color: #555;
                        border-radius: 4px;
                        cursor: pointer;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: #252525;
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                        }
                    }
                }

                .vol-container {
                    /* display: none; */
                    background-color: rgba(255, 255, 255, 0.7);
                    backdrop-filter: blur(2px);
                    border-radius: 10px 10px 0 0;
                    padding: 10px 10px 0 10px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(-20px, -100px);

                    #vol {
                        appearance: none;
                        -webkit-appearance: none;
                        width: 4px;
                        height: 80px;
                        background-color: #555;
                        border-radius: 4px;
                        cursor: pointer;

                        &::-webkit-slider-thumb {
                            -webkit-appearance: none;
                            background-color: #252525;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                        }
                    }
                }

                .show {
                    display: block;
                }
            }
        }
    }
}

.isVisible {
    display: flex;
}

@media (max-width: 920px) {
    .modal {

        .story-container {
            width: 90%;
            height: 90%;
            flex-direction: column;

            .close-btn {
                background-color: #252525;
            }

            .story-image {

                img {
                    width: 100%;
                    height: 160px;
                    border-radius: 20px 20px 0 0;
                }
            }

            .story-content {
                height: 100%;

                .story {
                    line-height: 1.4;
                    margin-top: 0;
                    flex-grow: 1;
                    height: 10px;
                }

                .audio-player {
                    width: 100%;
                    gap: 10px;
                }
            }
        }
    }
}