@use 'header';
@use 'hero';
@use 'animation';
@use 'storiesList';
@use 'fonts';
@use 'colors';
@use 'modal';
@use 'effects';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: fonts.$text;
}

h1, h2, h3, h4 {
    font-family: fonts.$title;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.section-title{
    font-size: 44px;
    color: colors.$mainColor;
    margin-bottom: 20px;

    @media (max-width: 767px) {
        text-align: center;
        font-size: 34px;
    }
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

.main-container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
}